// Palette
$dark_darker: #111111;
$dark: #333333;
$green: #70a93f;
$green_light: #7fc146;
$green_dark: #3b4f2a;
$red: #FF554C;
$red_light: #FA4E3B;
$white: #FAFAFA;
$grey: #444444;
$grey_light: #777777;
$grey_dark: #282828;
$blue: #6863ce;


// Elements colors
$text_color: $grey_dark;
$background_color: $dark;
$boxes_color: $white;
$sidebar_color: $white;
$link_color: $grey_light;
$brand_logo: $grey_dark;
